* {
  box-sizing: border-box;
}

:root {
  font-size: 36px;
}

body {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 2.2%;
}

.wrapper .postInfo {
  display: flex;
  flex: 1;
  gap: 0.8rem;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.wrapper i {
  display: flex;
  margin-left: auto;
  font-size: 2rem;
}

.postInfo img {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0px 2px rgba(170, 170, 170, 0.2);
}

.postMedia {
  display: block;
  width: 100%;
  margin-bottom: 50%;
  padding-bottom: 5%;
}

.postMedia img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 0% 50%;
  box-shadow: 0 0 0 0.1rem rgba(129, 129, 129, 0.25);
  margin-bottom: 2%;
}

.interactions {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.interactions i {
  font-size: 1.8rem;
  display: inline;
}

.highlight {
  font-weight: bold;
}

.lightText {
  font-weight: 500px;
  color: rgb(148, 148, 148);
}
